body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

.header {
  background-color: #e5e5e5;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left h1 {
  margin: 0;
  color: #333;
}

.header-right .login-btn {
  padding: 10px 16px;
  font-size: 16px;
  background-color: #636363;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.header-right .login-btn:hover {
  background-color: #2c2c2c;
}

.left {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 7px;
  margin-top: 7px;
  text-align: center;
}


.menu {
  /* float: left; <-- remove this since it's now in .left */
  width: 100%;
  text-align: center;
}

.menu a {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.menuitem {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.menuitem:hover {
  background-color: #dcdcdc;
}

.main {
  float: left;
  width: 60%;
  padding: 0 7px;
  margin-top: 7px;
}

.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  padding: 0 7px;
  text-align: center;
}


.search-box {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #fafafa;
}

.search-centered {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search {
  width: max-content;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  padding: 14px;
  border-radius: 28px;
  font-size: 16px;
  background: #f6f6f6;
  color: #333333;
}
.search-section {
  background-color: #e5e5e5; /* light background (you can change this) */
  padding: 15px;
  border-radius: 8px;
}

.search form {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.search input[type="search"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #3d3f3d;
  color: white;
  border: 1px solid #2b2c2b;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search button:hover {
  background: #686868;
}

.footer {
  clear: both;
  width: 100%;
  background-color: #e5e5e5;
  text-align: center;
  padding: 10px;
  margin-top: 7px;
}


@media only screen and (max-width: 770px) {
  /* Home Page*/
  /* For mobile phones: */

  .left, .menu, .main, .right {
    width: 100%;
    float: none;
  }
/* Login Screen*/
  span.psw {
    display:block;
    float: none;
  }
  .cancelbtn {
    width:100%;
}

}