
<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">
</head>


<body>
    <div class="page-container">
    <div class="header">
        <!-- Header and button/return home stuff here-->
        <div class="header-left">
          <h1>Event Manager</h1>
        </div>
        <div class="header-right">
          <a href="/" class="login-btn">Home</a>
        </div>
      </div>
    <!-- Everything Else down here -->
   
    </div>
    </div>
  </body>
</html>
