<!DOCTYPE html>
<html data-theme="dark">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Event Management Website</title>
</head>

<body>
  <div class="page-container">
    <!-- Header -->
    <div class="header">
      <div class="header-left">
        <h1>Event Manager</h1>
      </div>

      <div class="header-right">
        {% if username %}
          <a href="/profile/home" class="login-btn">Profile</a>
        {% else %}
          <a href="/login" class="login-btn">Login</a>
        {% endif %}
      </div>
    </div>

    <!-- Content -->
    <div class="content">
      <div class="left">
        <h2 style="text-align:center;">Upcoming Events</h2>
        <div class="menu">
          <a href="#" class="menuitem">Event 1</a>
          <a href="#" class="menuitem">Event 2</a>
          <a href="#" class="menuitem">Event 3</a>
        </div>
      </div>

      <div class="main">
        <div class="search-section">
          <h2 style="text-align:center;">Event Search</h2>

          <div class="search-box">
            <div class="search-centered">
              <div class="search">
                <form action="/search">
                  <input type="search" placeholder="Search..." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="right">
        <h2>Calendar</h2>
        {% if events_today %}
          <ul>
            {% for event in events_today %}
              <li><strong>{{ event.name }}</strong> @ {{ event.time.strftime('%I:%M %p') }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No events today!</p>
        {% endif %}
      </div>
      
    </div>

    <div style="clear: both;"></div>

    <!-- Footer -->
    <div class="footer">
      <div class="botnav">
        <a class="active" href="#home">Home</a>
        <a href="#About">About</a>
        <a href="#pPolicy">Privacy Policy</a>
        <a href="#Contact">Contact Us</a>
        <a>© copyright Does not Exist </a>
      </div>
    </div>

    <script>
      const toggleTheme = () => {
        const body = document.body;
        const isDark = body.getAttribute('data-theme') === 'dark';
        body.setAttribute('data-theme', isDark ? 'light' : 'dark');
      };
    </script>
  </div>
</body>
</html>
