<!DOCTYPE html>
<html data-theme="dark">
  
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Event Management Website</title>
</head>

<body>
  <div class=" page-container">
    <div class="header">
      <div class="header-left">
        <h1>Event Manager</h1>
      </div>

      <div class="header-right">
        <a href="/" class="login-btn">Home</a>
      </div>
    </div>

    <div class="content">
    <div class="left">
      <h2 style="text-align:center;">Account Settings</h2>
      <div class="menu">
        <a href="/profile/home" class="menuitem">Home</a>
        <a href="/profile/edit" class="menuitem">Edit Profile</a>
        <a href="/profile/security" class="menuitem">Security</a>
        <a href="/profile/calendar" class="menuitem">Calendar</a>
        <a href="/profile/events" class="menuitem">Events Joined</a>
        {% if is_organizer %}
        <a href="/organizer/create_event" class="menuitem">Create Event</a>
        {% endif %}        
        <div><br></div>
        <a href="#" class="menuitem" onclick="logout()">Logout</a>


      </div>
    </div>

        <div class="main">
          <div class="search-section">
            {% if no_org %}
              <div class="alert", style="color:red">{{ no_org }}</div>
            {% endif %}

            <div class="search-box">    
              <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                <img src="{{ profile_image_url }}"
                    alt="Profile Picture"
                    style="width:100px; height:100px; border-radius:50%; object-fit:cover; margin-bottom: 15px;">
        
                <h2 style="margin: 5px 0;"> {{ first_name }} {{ last_name }}</h4>
                <h4 style="margin: 5px 0;"><b>Age:</b> {{ age }}</h4>
        
                <p style="max-width: 400px; font-size: 15px; color: var(--text-200);">
                  {{ about }}
                </p>
              </div>
            </div>
            
            <div class="search-box">    
              <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
              <h2 style="margin: 5px 0;"><u>Contact Info</u></h2><br>
 
                <h4 style="margin: 5px 0;">Email: {{ email }}</h4><br>
                <h4 style="margin: 5px 0;">Phone: {{ phone }}</h4><br>
                <h4 style="margin: 5px 0;">Address: {{ address }}</h4><br>
                
              </div>
            </div>

          </div>
        </div>
    
      </div>
    </div>
  </div>

    <!-- Footer -->
    <div class="footer">
      <div class="botnav">
        <a class="active" href="#home">Home</a>
        <a href="#About">About</a>
        <a href="#pPolicy">Privacy Policy</a>
        <a href="#Contact">Contact Us</a>
        <a>© copyright Does not Exist </a>
      </div>
    </div>
    
  </div>

  
    <script>
      const toggleTheme = () => {
        const body = document.body;
        const isDark = body.getAttribute('data-theme') === 'dark';
        body.setAttribute('data-theme', isDark ? 'light' : 'dark');
      };

        function logout() {
          fetch("/logout", {
            method: "POST"
          }).then(() => {
            window.location.href = "/login";
          }).catch(err => {
            alert("Logout failed.");
            console.error(err);
          });
        }
      
    </script>
</div>
</body>

</html>
